<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body background=<%= background_img %>>
    <div style="background-color:rgba(255, 255, 255, 0.5)">
    <h1>You are <%= name %>!</h1>
    <img src=<%= profile_img %> height=300>
    <h2>"<%= catchphrase %>"</h2>
    <p><%= bio %></p>
    <p><%= endearing_trait %></p>
    <!-- <audio controls autoplay>
        <source src="/tutorSoundtracks/Two Steps From Hell - Moving Mountains.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> -->
    <a href='/northcoderSorter'>Play again?</a>
    </div>
</body>
</html>